<ion-header>
  <ion-toolbar class="bg-class" color="primary">
    <ion-title>
     Control de Edificios
     <ion-title float-right color="light" (click)="add()">+Nuevo</ion-title>
    </ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-card>
    <div align="center">
      <img src="https://www.antoniodomingo.com/wp-content/uploads/2009/02/edificio.jpg">
    </div>
    <ion-item>
      <ion-label>Edificio 1</ion-label>
      <ion-button fill="outline" slot="end" (click)="detalles()">View</ion-button>
    </ion-item>

    <ion-card-content>
      Aqui viene la descripcion del edificio, no hacer caso. ignorar!!!
    </ion-card-content>
  </ion-card>

  <ion-card>
    <div align="center">
      <img src="https://www.antoniodomingo.com/wp-content/uploads/2009/02/edificio.jpg">
    </div>
    <ion-item>
      <ion-label>Edificio 2</ion-label>
      <ion-button fill="outline" slot="end" (click)="detalles()">View</ion-button>
    </ion-item>

    <ion-card-content>
      Aqui viene la descripcion del edificio, no hacer caso. ignorar!!!
    </ion-card-content>
  </ion-card>

  <ion-card>
    <div align="center">
      <img src="https://www.antoniodomingo.com/wp-content/uploads/2009/02/edificio.jpg">
    </div>
    <ion-item>
      <ion-label>Edificio 3</ion-label>
      <ion-button fill="outline" slot="end" (click)="detalles()">View</ion-button>
    </ion-item>

    <ion-card-content>
      Aqui viene la descripcion del edificio, no hacer caso. ignorar!!!
    </ion-card-content>
  </ion-card>

  <ion-card>
    <div align="center">
      <img src="https://www.antoniodomingo.com/wp-content/uploads/2009/02/edificio.jpg">
    </div>
    <ion-item>
      <ion-label>Edificio 4</ion-label>
      <ion-button fill="outline" slot="end" (click)="detalles()">View</ion-button>
    </ion-item>

    <ion-card-content>
      Aqui viene la descripcion del edificio, no hacer caso. ignorar!!!
    </ion-card-content>
  </ion-card>


</ion-content>