<div *ngIf="tipo=='administrador'">
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="tab1">
        <ion-icon name="business"></ion-icon>
        <ion-label>Edificio</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="tab2">
        <ion-icon name="logo-twitch"></ion-icon>
        <ion-label>Notificaciones</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</div>

<div *ngIf="tipo=='inquilino'||tipo=='dueno'">
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="tab1">
        <ion-icon name="home"></ion-icon>
        <ion-label>Habitaciones</ion-label>
      </ion-tab-button>


      <ion-tab-button tab="tab2">
        <ion-icon name="logo-twitch"></ion-icon>
        <ion-label>Notificaciones</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</div>