<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Vivienda<ion-label float-right color="light" (click)="cerrarModal()">Cerrar</ion-label>
    </ion-title>

  </ion-toolbar>

</ion-header>

<ion-content padding>
  <ion-card>
    <ion-item>
      <ion-label >Familia : {{familia}} </ion-label>
      <ion-input></ion-input>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-label>Expensas : {{expensas}}</ion-label>
      <ion-input></ion-input>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-label>N° Puerta : {{NPuerta}}</ion-label>
      <ion-input></ion-input>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-label>N° Hijos : {{Nninos}}</ion-label>
      <ion-input></ion-input>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-label>N° Mascotas : {{Nmascotas}}</ion-label>
      <ion-input></ion-input>
    </ion-item>
  </ion-card>


</ion-content>