<ion-content padding class="bg-class">
  <div align="center">
      <img src="assets/img/logo.png">
  </div>
  <div align="center" *ngIf="ctrl == true">
    <p style="color:tomato"> {{texto}} </p>
    <ion-item>
      <ion-input required type="text" placeholder="Correo Electronico" [(ngModel)] = "correo"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input required type="password" placeholder="Contraseña" [(ngModel)] = "contrasena"></ion-input>
    </ion-item>
    <ion-button margin-top shape="round" color="light" fill="outline" (click)="login()">Iniciar Sesion</ion-button>
    <p></p>
    <a (click)="verificacion()">Olvidaste tu contraseña?</a>
  </div>

  <div align="center" *ngIf="ctrl1 == true">
    <ion-item>
      <ion-input required type="text" placeholder="Correo Electronico" [(ngModel)] = "correoReestablecimiento"></ion-input>
    </ion-item>
    <ion-button margin-top shape="round" color="light" fill="outline" (click)="reestablecimiento()">Enviar correo de Reestablecimiento</ion-button>
  </div>

  <div align="center">
    <p style="color:white">o</p>
    <a href="registro">Registrarse</a>
  </div>
</ion-content>
