.bg-class{
    --background: linear-gradient(180deg, #000000 0%,#242424 100%) !important;
}

ion-item{
    --background:transparent;
}

ion-input{
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}


