.bg-class{
    --background: linear-gradient(197deg, #000000 0%,#434343 100%) !important;
}
ion-item{
    --background:transparent;
}
ion-col{
    --background:transparent;
}
ion-list{
    --background:transparent;
}

ion-input{
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.texto-color{
    color: white;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}