<ion-content padding class="bg-class">
  <div align="center">
    <img src="assets/img/logo.png">
    <h1 style="color:white">Registro</h1>
  </div>

    <ion-card>
      <ion-card-content align="center">
          <ion-row>
              <ion-col size="12">
                  <ion-button shape="round" color="light" fill="outline" (click)="funcionBontones(1)">Administrador</ion-button>
              </ion-col>
              <ion-col size="6">
                  <ion-button shape="round" color="light" fill="outline" (click)="funcionBontones(2)">Dueño</ion-button>
              </ion-col>
              <ion-col size="6">
                  <ion-button shape="round" color="light" fill="outline" (click)="funcionBontones(3)">Inquilino</ion-button>
              </ion-col>
            </ion-row>
      </ion-card-content>
    </ion-card>

  <div align="center" *ngIf="condicional1 == true">
    <ion-card>
        <h2>Formulario Administrador</h2>
        <ion-card-content>
            <p style="color:tomato">{{texto}}</p>
            <ion-item>
                <ion-input type="text" value="" placeholder="Correo Electronico" [(ngModel)]="email" required></ion-input>
            </ion-item>            
            <ion-item>
                <ion-input type="password" value="" placeholder="Contraseña" [(ngModel)]="password" required></ion-input>
            </ion-item>
            <ion-item>
                <ion-input type="text" value="" placeholder="Nombre propietario" [(ngModel)]="duen" required></ion-input>
            </ion-item>
            <ion-avatar>
                <img src="{{def}}">
              </ion-avatar>
            <div align="center">
                <ion-button shape="round" color="light" (click)="addFoto()"><ion-icon name="add"></ion-icon>Añadir foto de perfil</ion-button>
            </div>
        </ion-card-content>
    </ion-card>
        <div align="center">
            <ion-button shape="round" color="light" fill="outline" (click)="crearAdministrador()">Crear Cuenta</ion-button>
        </div>
  </div>
  
  <div align="center" *ngIf="condicional2 == true">
    <ion-card>
        <h2>Formulario Dueño</h2>
        <ion-card-content>
            <p style="color:tomato">{{texto}}</p>
          <ion-item>
              <ion-input type="text" value="" placeholder="Correo Electronico" [(ngModel)]="email" required></ion-input>
          </ion-item>            
          <ion-item>
              <ion-input type="password" value="" placeholder="Contraseña" [(ngModel)]="password" required></ion-input>
          </ion-item>
          <ion-item>
              <ion-input type="text" value="" placeholder="Nombre propietario" [(ngModel)]="duen" required></ion-input>
          </ion-item>
          <ion-avatar>
              <img src="{{def}}">
          </ion-avatar>
          <div align="center">
              <ion-button shape="round" color="light" (click)="addFoto()"><ion-icon name="add"></ion-icon>Añadir foto de perfil</ion-button>
          </div>
        </ion-card-content>
    </ion-card>
        <div align="center" >
            <ion-button shape="round" color="light" fill="outline" (click)="crearDueno()">Crear Cuenta</ion-button>
        </div>
  </div>

  <div align="center" *ngIf="condicional3 == true">
      <ion-card>
          <h2>Formulario Inquilino</h2>
          <ion-card-content>
                <p style="color:tomato">{{texto}}</p>
              <ion-item>
                  <ion-input type="text" value="" placeholder="Correo Electronico" [(ngModel)]="email" required></ion-input>
              </ion-item>            
              <ion-item>
                  <ion-input type="password" value="" placeholder="Contraseña" [(ngModel)]="password" required></ion-input>
              </ion-item>
              <ion-item>
                  <ion-input type="text" value="" placeholder="Nombre propietario" [(ngModel)]="duen" required></ion-input>
              </ion-item>
              <ion-avatar>
                    <img src="{{def}}">
                  </ion-avatar>
                <div align="center">
                    <ion-button shape="round" color="light" (click)="addFoto()"><ion-icon name="add"></ion-icon>Añadir foto de perfil</ion-button>
                </div>
          </ion-card-content>
      </ion-card>
        <div align="center" >
            <ion-button shape="round" color="light" fill="outline" (click)="crearInquilino()">Crear Cuenta</ion-button>
        </div>
    </div>

</ion-content>
